html {
    font-family: 'Lato',sans-serif;
}

body {
    background-color:white;
    
}


.header {
    background-color: green;
    background:url('../img/Texture_Water_Drop_by_eRiQ.jpg'); /* http://eriq.deviantart.com/art/Texture-Water-Drop-17205240 */
    color:white;
    padding:2em;
}